<div class="row">
  <div class="col-md-6">
    <card [cardTitle]="'Board game collection'" [isCollapse]="true">
      <div style="width: 100%; height: 100%">
        <div style="max-height: 600px">
          <div *ngFor="let game of boardGameCollection" style="height: 15px">{{game.name}}</div>
        </div>
        <div style="height: 30px; margin-top: 30px; justify-content: space-between; display: flex">
          <div>
            <span>Add to collection</span>
            <button class="btn btn-primary" style="margin-left: 5px" (click)="onAddBoardGameToCollectionClicked()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div>
            <span>View all board games</span>
            <button class="btn btn-primary" style="margin-left: 5px">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </card>
    <!--<card cardTitle='Bar Chart' isCollapse="true">
      <div echarts [loading]="showloading" theme="dark"></div>
    </card>-->
  </div>
  <div class="col-md-6">
    <card [cardTitle]="'Groups'" [isCollapse]="true">
      <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
        <div style="max-height: 600px">
          <card *ngFor="let group of (groups | async)" class="col-md-4" [cardTitle]="group.name" [smallTitle]="true">
            <div style="display: flex; flex-direction: column;">
              <span *ngIf="group.memberCount" style="margin-top: 8px;">{{groupMemberText(group.memberCount)}}</span>
              <span *ngIf="group.boardGameCount" style="margin-top: 8px;">{{groupBoardGameText(group.boardGameCount)}}</span>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 10px">
              <button (click)="onManageGroupClicked(group.guid)">{{'Manage group'}}</button>
            </div>
          </card>
        </div>
        <div style="height: 30px; margin-top: 30px; justify-content: space-between; display: flex">
          <div>
            <span>Create group</span>
            <button class="btn btn-primary" style="margin-left: 5px" (click)="onCreateGroupClicked()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </card>
  </div>
</div>
