@import "../mixin";
$default-text: 14px;
$sm-text: 12px;
$lg-text: 16px;
$body-bg: #1c1e23;
$sidebar-bg: #252526;
$sidebar-fonts-color: #afaeae;
$card-bg: #171824;
$card-border: transparent;
$white: #fff;
$black: #000;
$border-color: #12121f;
$table-border-color: #12121f;
$fonts-color: #afaeae;
$highlight-color: #363636;
$primary: #1c1e23;
$secondary: #303030;
$success: #04ad53;
$danger: #ff184a;
$warning: #ff7300;
$info: #1e65ff;
body {
  background: $body-bg;
  color: $fonts-color;
}

.bg-default {
  @include linear-gradient(
    to top right,
    lighten($card-bg, 3%),
    lighten($card-bg, 8%)
  );
}

.bg-primary {
  @include linear-gradient(to top right, $primary, #00000070);
}

.bg-secondary {
  @include linear-gradient(to top right, $secondary, #999696);
}

.bg-success {
  @include linear-gradient(to top right, $success, #1dffc7);
}

.bg-danger {
  @include linear-gradient(to top right, $danger, #fc85a2);
}

.bg-warning {
  @include linear-gradient(to top right, $warning, #fce16a);
}

.bg-info {
  @include linear-gradient(to top right, $info, #04f7fb);
}
