<div class="d-flex flex-row p-3 bg-primary" style="height: 400px; width: 700px">
  <div class="d-flex flex-column justify-content-start" style="width: 20%">
    <img [src]="game.thumbnail" />
  </div>
  <div class="d-flex flex-column justify-content-start flex-grow-1 ml-3">
    <span class="text-header">{{game.name}}</span>
    <!--<span>{{game.description}}</span>-->
    <div class="d-flex flex-row justify-content-between mt-4 py-2 border-top">
      <div class="d-flex flex-column align-items-left flex-grow-1 border-right">
        <span>{{game.minplayers}}-{{game.maxplayers}} Players</span>
        <span class="text-smallest">Best: {{game|bestPlayerCount}}</span>
      </div>
      <div
        class="d-flex flex-column align-items-left flex-grow-1 pl-2 border-right"
      >
        <span>{{game.minplaytime}}-{{game.maxplaytime}} Min</span>
        <span class="text-smallest">Playing time</span>
      </div>
      <div
        class="d-flex flex-column align-items-left flex-grow-1 pl-2 border-right"
      >
        <span>{{game.minage}}+</span>
        <span class="text-smallest">Age</span>
      </div>
      <div class="d-flex flex-column align-items-left flex-grow-1 pl-2">
        <span
          >{{game.statistics.ratings.averageweight|number:'1.0-2'}} / 5</span
        >
        <span class="text-smallest">Complexity</span>
      </div>
    </div>
    <div class="d-flex flex-row my-2 text-small">
      <span style="font-weight: bold">Publisher (year): </span>
      <span class="ml-2">{{game|gamePublisher}} ({{game.yearpublished}})</span>
    </div>
  </div>
</div>
