<div class="row">
  <div class="col-md-6">
    <card [cardTitle]="'Board game collection'" [isCollapse]="true">
      <div style="width: 100%; height: 100%">
        <div style="max-height: 600px">
          <div *ngFor="let game of view?.boardGames" style="height: 15px">
            <div class="d-flex flex-row">
              <span
                >{{game.name + ' (' +
                (game.owners|gameOwners:view.members).join(', ') + ')'}}</span
              >
              <i
                class="{{game.isFavorite ? 'fas' : 'far'}} fa-star ml-2"
                style="cursor: pointer"
                title="Favorite"
                (click)="onFavoriteGameClicked(game)"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </card>
    <!--<card cardTitle='Bar Chart' isCollapse="true">
      <div echarts [loading]="showloading" theme="dark"></div>
    </card>-->
  </div>
  <div class="col-md-6">
    <card [cardTitle]="'Members'" [isCollapse]="true">
      <div style="width: 100%; height: 100%">
        <div style="max-height: 600px">
          <div *ngFor="let user of view?.members" style="height: 15px">
            {{user.name}}
            <i
              class="fas fa-user-minus ml-2"
              style="cursor: pointer"
              (click)="onRemoveUserClicked(user)"
            ></i>
          </div>
        </div>
        <div
          style="
            height: 30px;
            margin-top: 30px;
            justify-content: space-between;
            display: flex;
          "
        >
          <div>
            <span>Add user</span>
            <button
              class="btn btn-primary"
              style="margin-left: 5px"
              (click)="onAddUserClicked()"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </card>
  </div>
  <div class="col-md-6 mt-2">
    <card [cardTitle]="'Events'" [isCollapse]="true"> </card>
  </div>
  <div class="col-md-6 mt-2">
    <card [cardTitle]="'History'" [isCollapse]="true"> </card>
  </div>

  <div class="col-md-6 mt-2">
    <card [cardTitle]="'Posts'" [isCollapse]="true">
      <div style="width: 100%; height: 100%">
        <div style="max-height: 600px">
          <div *ngFor="let user of view?.posts" style="height: 15px">
            {{user.text}}
          </div>
        </div>
        <div
          style="
            height: 30px;
            margin-top: 30px;
            justify-content: space-between;
            display: flex;
          "
        >
          <div>
            <span>New post</span>
            <button
              class="btn btn-primary"
              style="margin-left: 5px"
              (click)="onNewPostClicked()"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </card>
  </div>
</div>
