@import "../../styles/conf.scss";

a:hover {
  background-color: #faa73b;
}

.active {
  background-color: $primary;
}

.text {
  color: $sidebar-fonts-color;
  font-size: 1rem;
}

.icon {
  color: $fonts-color;
}
