<div class="position-relative" [ngStyle]="{'width': width}">
  <mat-form-field style="width: 100%">
    <mat-label>Address</mat-label>
    <input
      #searchInput
      style="width: 100%"
      type="text"
      placeholder="Type to search"
      autofocus
      matInput
      [matAutocomplete]="auto"
      [value]="searchText"
      (input)="onSearchInputChange($event)"
    />
  </mat-form-field>
  <i
    *ngIf="isLoading"
    class="position-absolute fas fa-spinner fa-spin"
    style="right: 5px; top: 5px"
  ></i>
  <div id="attributionDiv" class="position-absolute" style="bottom: -15px; left: 0;"></div>
</div>

<mat-autocomplete
  #auto="matAutocomplete"
  [autoActiveFirstOption]="true"
  (optionSelected)="onOptionSelected($event)"
>
  <mat-option *ngFor="let game of options" [value]="game">
    <div class="d-flex flex-row">
      <div class="align-self-center" style="height: 24px; width: 24px">
        <i class="align-self-center fa-solid fa-location-dot"></i>
      </div>
      <span class="ml-2 text-small flex-grow-1 text-ellipsis"
        >{{game.description}}</span
      >
    </div>
  </mat-option>
</mat-autocomplete>
