<div class="card animated fadeIn" [ngClass]="{'card-hover mouse-hand': clickable}" (click)="onCardClicked()">
  <div class="card-header" [ngClass]="{'justify-content-center': centerTitle}" *ngIf="cardTitle">
    <h4 *ngIf="!smallTitle" class="card-title">{{ cardTitle }}</h4>
    <span *ngIf="smallTitle" class="card-title-small">{{ cardTitle }}</span>
    <div class="btn-group" *ngIf="cardTitle && isCollapse">
      <button class="collapse-btn" (click)="collapseCard()">
        <i
          class="fa fa-minus fa-fw"
          [ngClass]="{
            'collapse-on': _collapsed === 'on',
            'collapse-off': _collapsed === 'off'
          }"
        ></i>
        <i
          class="fa fa-plus fa-fw"
          [ngClass]="{
            'collapse-on': _collapsed === 'off',
            'collapse-off': _collapsed === 'on'
          }"
        ></i>
      </button>
    </div>
  </div>
  <div class="content-wrap" [@collapse]="_collapsed">
    <div class="card-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
