.button {
    min-width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    background-color: lightgray;
    cursor: pointer
}
