@import '../mixin';
$default-text: 14px;
$sm-text: 12px;
$smt-text: 10px;
$lg-text: 16px;
$header-text: 20px;
$body-bg: #1e1e1e;
$sidebar-bg: #171f23;
$sidebar-fonts-color: #f6fefe;
$card-bg: #233034;
$card-header-bg: #0b2a34;
$card-border: #3c4346;
$white: #fff;
$black: #000;
$border-color: #12121f;
$table-border-color: #12121f;
$fonts-color: #f6fefe;
$highlight-color: #363636;
$primary: #171f23;
$secondary: #1e1e1e;
$success: #04ad53;
$danger: #ff184a;
$warning: #ff7300;
$info: #1e65ff;
body {
  background: $body-bg;
  color: $fonts-color;
}

.bg-default {
  @include linear-gradient(
    to top right,
    lighten($card-bg, 3%),
    lighten($card-bg, 8%)
  );
}

.bg-primary2 {
  @include linear-gradient(to top right, $primary, #333333);
}

.bg-secondary2 {
  @include linear-gradient(to top right, $secondary, #999696);
}

.bg-success2 {
  @include linear-gradient(to top right, $success, #1dffc7);
}

.bg-danger2 {
  @include linear-gradient(to top right, $danger, #fc85a2);
}

.bg-warning2 {
  @include linear-gradient(to top right, $warning, #fce16a);
}

.bg-info2 {
  @include linear-gradient(to top right, $info, #04f7fb);
}
