<div class="top-bar">
  <div class="d-flex flex-row justify-content-between p-2">
    <div class="avatar mouse-hand" (onClick)="onLogoClick()">
      <img
        style="width: 64px; height: 64px"
        src="{{avatarImgSrc}}"
        alt="avatar"
      />
    </div>
    <div class="ml-2">
      <ng-container *ngIf="!loggedIn">
        <div style="display: flex; flex-direction: row">
          <button class="ml-2 px-1" mat-raised-button (click)="onLoginClick()">
            Log In
          </button>
          <!--<button class="search-btn" style="margin-left: 5px" >
            <i class="fa fa-search fa-fw"></i>
          </button>-->
        </div>
      </ng-container>
      <ng-container *ngIf="loggedIn">
        <span class="user-name" title="{{userName}}">{{userName}}</span>
        <button class="ml-2 px-1" mat-raised-button (click)="onLogoutClick()">
          Log out
        </button>
      </ng-container>
    </div>
  </div>
</div>
